@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body, html {
  height: 100%;
  /*background-repeat: no-repeat;    background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
  /*background:#7E57C2;*/
  background: -webkit-linear-gradient(#7E57C2, #69F0AE);
  background: linear-gradient(#7E57C2, #69F0AE);
  position: relative;
  font-family: sans-serif;
  overflow-y: scroll;
  /*font-color*/
}

#particles-js{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index:1;
}
span img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.buttons{
  text-align: right;
  background-color:black;
  /*margin:  20px;*/
  box-shadow: 8px 8px 40px gray;
  /*padding: 50px 0; */
}
    
#login-button, #register-button{
  /*display: inline;*/
 /* top: 0;
  right: 0;
  padding: 30px;
  margin-right: 6em;
  margin-top: 5em;
  */ 
  opacity: 0.9;
/*background: white;*/
  position: relative;
  font-size: 28px;
  margin-right: 30px;
  color:#fff;
  padding: 8px;
  /*width: 50%;*/
  z-index: 2;
  cursor: pointer;
  /*height: 180px;*/
  border-radius: 5px;
  /*background: rgba(3,3,3,.25);*/
  /*background: black;*/
  /*overflow: hidden;*/
  /*#000*/
}

#login-button:hover, #register-button:hover{
color: #333;
opacity: 1;
background: white;
}

/* Login container */
#container{

  z-index: 2;
  position:relative;
  text-align: center;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  bottom: 0; 
  /*vertical-align: middle;*/
/*    top: 20px;*/
    /*
    right: 5px;*/
    /*  margin-top: .5em;*/
    width: 300px;
    height: 250px;
    border-radius: 15px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
  }
  #container2{
    z-index: 2;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  /*top: 18em;
  right: 5px;
  margin-top: .5em;
  */
  width: 300px;
  border-radius: 15px;
  background: rgba(3,3,3,0.25);
  box-shadow: 1px 1px 50px #000;
  display: none;
}
#forgotten-container{
  z-index: 2;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

   /* top: 0;
    right: 0;
    margin-top: 2em;
    margin-right: 10px;*/
    width: 260px;
    height: 180px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
  }
  .close-btn{
    z-index: 2;
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .close-btn:hover{
    opacity: .5;
  }
  .close-btn2{
    z-index: 2;
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .close-btn2:hover{
    opacity: .5;
  }

  .introduction{
    padding: 2px;
    /*padding-left: 80px;*/
    /*padding-right: 80px;*/
    text-align: center;
    /*width: 20%;*/
    /*border: 1px solid #eee;*/
    /*border-radius: 10px;*/
    background-color: white;
    opacity: .7;
  }
  /* Heading */
  h1{
    font-family: sans-serif;
    /*'Open Sans Condensed', */
 /* position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;*/
}

/* Inputs */
a,
input{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
 color: #ddd;  }
 :-moz-placeholder { /* Firefox 18- */
   color: red;  }
   ::-moz-placeholder {  /* Firefox 19+ */
     color: red;  }
     :-ms-input-placeholder {  
       color: #333;  }

       /* Link */
       a{
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
        padding: 4px 8px;
        background: rgba(107,255,3,0.3);
      }

      a:hover{
        opacity: 0.7;
      }

      #remember-container{
        position: relative;
        /*float: left;*/
        /*margin: -5px 20px;*/
      }

      #tnc-container{
        position: relative;
        /*margin: -5px 30px 2px;*/
      }

      .checkbox {
        position: relative;
        cursor: pointer;
        -webkit-appearance: none;
        padding: 5px;
        border-radius: 4px;
        background: rgba(3,3,3,.2);
        display: inline-block;
        width: 16px;
        height: 15px;
      }

      .checkbox:checked:active {
       box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
     }

     .checkbox:checked {
      background: rgba(3,3,3,.4);
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
      color: #fff;
    }

    .checkbox:checked:after {
     content: '\2714';
     font-size: 10px;
     position: absolute;
     top: 0px;
     left: 4px;
     color: #fff;
   }

   #remember{
    position: absolute;
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,.5);
    top: 7px;
    left: 20px;
  }

  #forgotten{
    position: absolute;
    font-size: 12px;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,.2);
    right: 0px;
    top: 8px;
    cursor: pointer;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #forgotten:hover{
    color: rgba(255,255,255,.6);
  }

  

  .orange-btn{
    background: rgba(87,198,255,.5);
  }
  